<html>
   <body>
      <form action = "/save_text" method = "post">
        <p>Select add new text:</p>
        <p><input type = "submit" value = "Go to add some new stafff" /></p>
      </form>

      <form action = "http://{{ my_ip }}:8090/print_texts" method = "post">
        <p>show me all texts:</p>
        <p><input type = "submit" value = "Go to texts (Does not work)" /></p>
      </form>

      <form action="/print_texts" method = "post">
        <p>show me all texts:</p>
        <p><input type = "submit" value = "Go to texts2" /></p>
      </form>


   </body>
</html>

